.wrapper {
  padding: 1rem 1rem .25rem 1rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -45%);
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  min-width: unset;
  width: 80%;
  z-index: 40;
  border-radius: 10px;
  background: #FFFFFF;
  overflow: auto;

  .topHeader__wrapper {
    //border: 1px solid red;
    .row {
      display: flex;
      //align-items: center;
      margin: 0 0 .25rem 0;
      justify-content: space-between;

      .row__item {
        //flex:1 1 100%;
        text-align: left;

        div {
          min-width: 100px;
        }

        label {
          font-size: 12px;
          width: 100%;
        }
      }


      select, input {
        margin: .25rem 0;
        cursor: pointer;
        background: unset;
        //opacity:.4;
        //all:unset;
        //border:1px solid black;
      }

      select {
        //border-top: none;
        //border-left: none;
        //border-bottom: none;
        //border-right: none;
        float: left;
        margin-top: .5em;
        padding: .1rem;
      }

      input {
        max-width: 125px;
        display: block;
        border-top: none;
        border-left: none;
        border-right: none;
      }

    }

    .time {
      gap: .35rem;
    }

    //.row:last-child {
    //  margin-top: .5rem;
    //  align-items: center
    //}
  }

  .add__question__panel {
    margin-top: .5rem;

    .add__answer__button {
      margin-top: 1rem;
      display: flex;
      gap: .5rem;
      align-items: center;

      button {
        all: unset;
      }

      .plus__icon__wrapper {
        width: 22px;
        cursor: pointer;

        img {
          max-width: 100%;
        }
      }
    }

    .question__content {
      width: 100%;

      input {
        border-left: none;
        border-top: none;
        border-right: none;
        width: 95%;
        background: whitesmoke;
        padding: .5rem;
      }
    }

    .add__answer {
      margin-top: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .select__answer {
        display: flex;
        gap: .25rem;
        margin: 0 .5rem 0 0;

        button {
          //all: unset;
          //border: 1px solid black;
        }

        .checked__icon__wrapper {
          width: 22px;
          display: flex;
          background: gray;
          cursor: pointer;

          img {
            max-width: 100%;
          }
        }

      }

      .delete__and__selectCorrect {

        input {
          cursor: pointer;
        }

        button {
          cursor: pointer;
        }
      }

    }
  }
  .next__question__wrapper {
    margin-top: .5rem;
  }
  .confirm__btn__wrapper {
    text-align: center;
  }
}

@media (min-width: 968px) {
  .wrapper {
    min-width: 500px;
  }
}