div {
  h2, .introduction {
    margin: 1rem;
    text-align: center;
  }

  h2 {
    margin-top:1rem;
    font-size: 2rem;
  }

  .introduction {
    font-size: 1rem;
    line-height: 25px;
  }
}

@media (min-width: 768px) {
  div {
    .introduction {
      margin: 0 auto;
      font-size: 2rem;
      line-height: 35px;
      max-width: 70%;
    }
    h2 {
      font-size: 3rem;
    }
  }
}
