.wrapper {
  padding: 1rem;
  background: #000000;

  .step {
    padding: 1rem 0;
    display: flex;
    gap: .5rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    .line {
      width: 60px;
      height: 3px;
      background: gray;
    }

    .filledLine {
      background: white !important;
    }

    div:last-child > div {
      display: none;
    }

    }

    .circle {
      width: 36px;
      height:36px;
      border-radius: 50%;
      position: relative;
      background: #FFFFFF;
      cursor: pointer;
      border: none;

      img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-40%, -50%);
        width: 24px;
      }
    }

    .circle:hover {
      opacity: 0.5
    }

  }


@media (max-width: 968px) {
  .wrapper {
    padding: .5rem 5px;

    .step {
      padding:.5rem 0;
      display: flex;
      gap: .25rem;

      .circle {
        width: 28px;
        height: 28px;

        img {
          width:18px;
        }

        span {
          font-size: 14px;
          font-weight: 700;
          color: white;
        }
      }
    }
  }
}