.wrapper {
  padding: 1rem;

  .header {
    text-align: center;

    .header__summary {
      h3 {
        margin-bottom: .35rem;
        font-size: 24px;
        font-weight: unset;
      }

      .header__summary__note {
        font-size: 20px;
      }
    }

    h2 {
      margin: 0;
    }

    p {
      font-size: 22px;
      margin: .5rem 0;
      font-weight: 600;
    }

    Button {
      margin-top: 1rem;
    }
  }


  .nav {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    border: 1px solid red;


    .col__flex {
      display: flex;
      gap: .25rem;

      span {
        font-size: 18px;
      }

      span:last-child {
        font-size: 14px;
      }
    }
  }

  .question__wrapper {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 1rem 0;

    .question__text {
      padding: .75rem;
      font-size: 18px;
      font-weight: 700;
    }

    .question__header {
      display: flex;
      justify-content: space-between;
      background: lightgray;
      padding: .75rem;

      .icon {
        height: 24px;
        width: 24px;
        padding: 0;
        margin: 0;

        img {
          padding: 0;
          margin: 0;
          max-width: 100%;
        }
      }

      h4 {
        padding: 0;
        margin: 0;
      }
    }

    .correctAnswer {
      background: green;
      color: white;
    }

    .incorrectAnswer {
      background: red;
      color: white;
    }

    .option {
      display: flex;
      gap: .5rem;
      align-items: center;
      padding: .75rem .25rem;
      cursor: pointer;

      input {
        min-width: 18px;
        min-height: 18px;
        cursor: pointer;
      }

      span {
        font-size: 17px;
      }

    }
  }
}

@media (min-width: 768px) {
  .wrapper {
    max-width: 1200px;
    margin: 0 auto;

    .header {
      text-align: center;

      .header__summary {
        h3 {
          margin-bottom: .35rem;
          font-size: 24px;
          font-weight: unset;
        }

        p {
          font-size: 28px;
        }

        .header__summary__note {
          font-size: 26px;
          line-height: 35px;
        }
      }
    }
  }
}