.wrapper {
  position: fixed;
  top: 70px;
  right:5px;
  left:5px;
  z-index: 10;
  padding: .75rem;
  width:90%;
  border-radius: 5px;
  color: white;
  background: darkred;
  display: flex;
  align-items: center;
  gap: .5rem;
  animation-name: slide;
  animation-duration: .5s;

  .circle {
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;

    img {
      width:20px;
      height:20px;
      margin:0 auto;
    }
  }

  span {
    font-size: 18px;
  }
}

@keyframes slide {
  0% {left: -300px}
  100% {left: 0}
}

@media (min-width: 968px) {
  .wrapper {
    position: absolute;
    top:unset;
    right:unset;
    left:0;
    bottom:0;
    padding: 1rem;
    gap: 1rem;
    z-index:unset;
    width:unset;
    border-radius: 5px;
    color: white;
    display: flex;
    align-items: center;

    .circle {
      width: 25px;
      height: 25px;
      background: white;
      border-radius: 50%;
      position: relative;

      img {
        width:24px;
        height:24px;
      }
    }

    span {
      font-size: 22px;
    }
  }
}