.wrapper {
  margin: 2rem auto;

  .error {
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;

    h3 {
      font-size: 24px;
    }

    p {
      font-size: 18px;
      font-weight: 700;

      span {
        font-weight: 300;
      }
    }
  }
}

@media (min-width: 968px) {
  .wrapper {
    margin: 0;

    .error {
      margin: 2rem auto;
      padding: 1rem;
      text-align: center;
      max-width: 1000px;

      h3 {
        font-size: 48px;
        margin: 0;
      }

      p {
        font-size: 28px;
        font-weight: 700;

        span {
          font-weight: 300;
          font-size: 24px;
        }
      }
    }
  }
}