.wrapper {
  padding: 1rem;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
      h3 {
          font-size:14px;
      }
    }
    div:last-child {
      button {
        font-size:14px;
      }
    }

    .leave__btn {

      button {
        all:unset;
        cursor: pointer;

        img {
          max-width: 20px;
        }
      }

      button:hover {
        opacity: .5;
      }
    }
  }

  .button__list {
    margin:2rem 0 2rem -.5rem;
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 968px) {
  .wrapper {
    padding: 1.5rem;
    margin: 5rem auto;
    width: 900px;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;

    .header {
      div {
        h3 {
          font-size:18px;
          margin:0;
        }
      }
      div:last-child {
        button {
          font-size:18px;
        }
      }
    }
  }
}
