.question {
  font-size: 18px;
  font-weight: 600;
}

.option {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-top: 2rem;
  font-size: 18px;
  cursor: pointer;

  input {
    min-width: 20px;
    min-height: 20px;
    cursor: pointer;
  }

  span {
    font-size: 16px;
  }

}

@media (min-width: 968px) {
  .question {
    margin: 0;
    font-size: 32px;
  }

  .option {
    display: flex;
    font-size: 18px;

    span {
      font-size: 22px;
    }
  }
}