
.wrapper {
  padding: .5rem;
  margin: 1rem .25rem;
  display: flex;
  gap: 2rem;
  max-width:100%;
  overflow: auto;
  //border: 1px solid #001000;

  .row {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    //border: 2px solid green;

    .header {
      padding: .1rem .25rem;
      background: lightgray;
      font-size: 10px;
      min-width:100px;
      //border:2px solid yellow;

      h3 {
        margin: 0;
      }
    }

    .value {
      flex: 1;
      //border:2px solid brown;

      span {
        font-size: 10px;
        border:none;

        .starsWrapper {

          img {
            width: 12px;
          }
        }
      }

    }

  }
}

@media (min-width: 968px) {
  .wrapper {

    .row {
      justify-content: center;

      .header {
        font-size: 16px;
      }

      .value {

        span {
          font-size: 14px;

          .starsWrapper {
            //margin-top:.3rem;

            img {
              width:17.5px;
            }
          }
        }

      }
    }
  }
}
