.wrapper {
  padding: .5rem;
  margin: 2rem .25rem;
  display: flex;
  gap: 1rem;
  border: 1px solid #001000;

  .row {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    //border: 2px solid green;

    .header {
      padding: .1rem .2rem;
      background: lightgray;
      font-size: 14px;

      h3 {
        margin: 0;
      }
    }

    .value {
      //border: 2px solid blue;

      span {
        font-size: 14px;
      }
    }

  }
}